html, body {
  margin: 0;
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
}
main {
    font-size: 14px;
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    color: #333;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.error {
    color: red;
}

label {
  display: block;
  font-size: 20px;
}

label + label {
    margin-top: 20px;
}

input[type=text] {
    width: 800px;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
}

textarea {
  width: 800px;
  height: 300px;
  font-size: 17px;
  font-family: monospace;
}

input[type=submit] {
  font-size: 20px;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
  width: 80px;
  height: 35px;
  border: 1px solid #55a532;
  border-radius: 20px;
  background-color: #6cc644;
  background-image: linear-gradient(#7bcc58, #60b838);
}
input[type=submit]:hover {
  background-image: linear-gradient(#60b838, #60b838);
}

.main-title {
    display: block;
    color: #222;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
}

.post + .post {
    margin-top: 15px;
}

.post-heading {
    position: relative;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
}

.post-date {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #999;

}

.post-content {
    margin-top: 5px;
}

header {
  position: relative;
  height: 200px;
  background-color: #fbfbfe;
}
.main-title h1 {
  margin: 0;
  color: gray;
  font-size: 160%;
  line-height: 200px;
}
header .login-area {
  position: absolute;
  top: 10px;
  right: 10px;
}
.age {
  text-align: right;
  color: gray;
  font-size: 12px;
}
